---
import MusicsTable from "@/components/MusicsTable.astro";
import { allPlaylists , songs } from "@/lib/data";
import Layout from "@/layouts/Layout.astro";
import CardButtonPlay from "@/components/CardButtonPlay";

const { id } = Astro.params

const playlistSelected = allPlaylists.find( p => p.id === id )

if( !playlistSelected ) return Astro.redirect("/")

const playlistSongs = songs.filter( song => song.albumId === playlistSelected?.albumId )

---

<Layout title={`Playlist ${id}`}>
    <div 
        id="playlist-container"
        transition:name=`playlist-${id}-box`
        class="relative bg-zinc-900 overflow-x-hidden h-full flex flex-col"
    >
        
    <header class="flex flex-row mt-12 gap-8 px-6">
        <picture class="aspect-square w-52 h-52 flex-none">
            <img 
                src={playlistSelected?.cover} 
                alt={`Cover of ${playlistSelected.title}`}
                class="object-cover w-full h-full rounded-md"
                transition:name=`playlist ${playlistSelected.id} image`
            />
        </picture>
        
        <div class="flex flex-col justify-between">
            <h2 class="flex flex-1 items-end">Playlist</h2>
            <div>
              <h1 class="text-5xl font-bold block text-white">
                {playlistSelected?.title}
                <span transition:name=`playlist ${playlistSelected?.id} title`></span>
              </h1>
            </div>
    
            <div class="flex-1 flex items-end">
              <div class="text-sm text-gray-300 font-normal">
                <div transition:name=`playlist ${playlistSelected?.id} artists`>
                  <span>{playlistSelected?.artists.join(", ")}</span>
                </div>
                <p class="mt-1">
                  <span class="text-white">{playlistSongs.length} canciones</span>,
                  3 h aproximadamente
                </p>
              </div>
            </div>
          </div>
    </header>

    <div class="px-6 mt-6 mb-2 relative">
      <CardButtonPlay 
        id={playlistSelected?.id} 
        client:visible
        size="large"
      />
    </div>

    <!-- <div class="relative z-10 px-6 pt-10">

         
    </div> -->

    <div class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80 -z-[1]"></div>
    
    <div class="p-6">
      <MusicsTable
        songs={playlistSongs}
      />
    </div>

  </div>
</Layout>
